# Python
.venv/
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env
backend/.env

# Node
frontend/node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log