# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/
venv/
env/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db